<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--<link href="/styles/webflow.css" rel="stylesheet" type="text/css">-->
</head>

<body>
    <div class="main">
        <div class="header">
            Hello
        </div>
        <div class="nav">
            <div class="nav-item">
                <h4 class="nav-title">TEST</h4>
            </div>
            <div class="nav-item">
                <h4 class="nav-title">TEST</h4>
            </div>
        </div>

    </div>

</body>